*__pycache__
build/
dist
*.egg-info/
.env
/.project
/.pydevproject
/.vscode
.venv/
.flatpak-builder/
crash.tx*
report_test.tx*
*.autosave
*.swp
.buildinfo
_autosummary/
test/venv
test/tmp/*
test/validation/tmp
!test/tmp/.gitkeep
package/appimage/appimage-build*
package/appimage/*.zsync
package/appimage/*.AppImage
package/appimage/src
package/appimage/*.py
AppDir
doc/manual/doxygen
doc/manual/sphinx/build/*
doc/manual/sphinx/source/_build/*
